body {
  background-color:#59626B;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  height:70vh;
}

.motherBoard {
  margin-top: 30vh;
  margin-left: 0px;
}

.chip {
  text-align: center;
  height:250px;
  width: 250px;
  margin-left:41.5vw;
  border: solid 10px rgb(37, 37, 37);
  background-color: rgb(22, 22, 22);
  border-radius: 5%;
}

/* WIRESCONNECTORSTIPS */

.wire1 {
  position: absolute;
  height: 190px;
  width: 2px;
  background-color: rgb(201, 201, 201);
  margin-left: 40px;
  margin-top: -200px;
}

.wire2 {
  position: absolute;
  height: 190px;
  width: 2px;
  background-color: rgb(201, 201, 201);
  margin-left: 60px;
  margin-top: -200px;
}

.wire3 {
  position: absolute;
  height: 190px;
  width: 2px;
  background-color: rgb(201, 201, 201);
  margin-left: 80px;
  margin-top: -200px;
}

.wire4 {
  position: absolute;
  height: 190px;
  width: 2px;
  background-color: rgb(201, 201, 201);
  margin-left: 125px;
  margin-top: 260px;
}

.wire5 {
  position: absolute;
  height: 190px;
  width: 2px;
  background-color: rgb(201, 201, 201);
  margin-left: 165px;
  margin-top: 260px;
}

.connector1{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 260px;
  width:20px;
  margin-top: 220px;
}

.connector2{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 260px;
  margin-top: 180px;
  width:20px;
}

.connector3{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 180px;
  height:20px;
  margin-top: 260px;
}

.connector4{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 140px;
  margin-top: 260px;
  height:20px;
}

.connector5{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 100px;
  height:20px;
  margin-top: 260px;
}

.connector6{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 60px;
  margin-top: 260px;
  height:20px;
}

.connector7{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: -40px;
  width:20px;
  margin-top: 20px;
}

.connector8{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: -40px;
  margin-top: 80px;
  width:20px;
}

.connector9{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: -40px;
  margin-top: 220px;
  width:20px;
}

.connector10{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 120px;
  margin-top: -40px;
  height:20px;
}

.connector11{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 160px;
  margin-top: -40px;
  height:20px;
}

.connector12{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 200px;
  margin-top: -40px;
  height:20px;
}


.tip1 {
  width:3px;
  height:4px;
  background-color: blue;
  position: absolute;
  margin-left: 39px;
  margin-top: -202px;
}

.tip2 {
  width:4px;
  height:3px;
  background-color: yellow;
  position: absolute;
  margin-left: 59px;
  margin-top: -202px;
}

.tip3 {
  width:3px;
  height:4px;
  background-color: blue;
  position: absolute;
  margin-left: 79px;
  margin-top: -202px;
}

.tip4 {
  width:3px;
  height:4px;
  background-color: blue;
  position: absolute;
  margin-left: 124px;
  margin-top: 451px;
}

.tip5 {
  width:4px;
  height:3px;
  background-color: yellow;
  position: absolute;
  margin-left: 164px;
  margin-top: 451px;
}

/* STATEMENT  */

.statement {
  color: white;
  font-size: 1.2rem;
  z-index: 1;
  position: relative;
  margin-top: 40px;
}

.name {
  color: #62DAFE;
  font-size: 1.6rem;
}

/* PROJECTS BRANCH */

.projectLine1 {
  border: gray solid 5px;
  margin-top: -125px;
  margin-left: 260px;
  position: absolute;
  width:150px;
}

.projectLine1Turn {
  border: gray solid 5px;
  margin-top: -185px;
  margin-left: 340px;
  position: absolute;
  height:50px;
}

.projectL1TSocket {
  border: solid 5px gray;
  height: 20px;
  width: 20px;
  margin-top: -215px;
  margin-left: 330px;
  position: absolute;
  background-color: white;
  -webkit-animation-name: colorchange;
  -webkit-animation-duration: 30s;
  animation-name: colorchange;
  animation-duration: 30s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

.projectLine2 {
  border: gray solid 5px;
  margin-top: -275px;
  margin-left: 420px;
  position: absolute;
  height:150px;
}

.projectSocketMain {
  border: solid 5px gray;
  height: 20px;
  width: 20px;
  margin-top: -300px;
  margin-left: 410px;
  position: absolute;
}

.projectLine2Turn {
  border: gray solid 5px;
  margin-top: -185px;
  margin-left: 430px;
  position: absolute;
  width:50px;
}

.projectL2TSocket {
  border: solid 5px gray;
  height: 20px;
  width: 20px;
  margin-top: -195px;
  margin-left: 490px;
  position: absolute;
  background-color: white;
  -webkit-animation-name: colorchange2E;
  -webkit-animation-duration: 30s;
  animation-name: colorchange2E;
  animation-duration: 30s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

.projectDatabit{
  z-index:1;
  border: solid 10px #62DAFE;
  margin-top: -130px;
  margin-left: 260px;
  position: absolute;
  -webkit-animation-name: datastream;
  -webkit-animation-duration: 3s;
  animation-name: datastream;
  animation-duration: 3s;
  background-color: rgb(48, 48, 48);
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

.projects {
  position: absolute;
  margin-top: -400px;
  margin-left: 350px;
  font-size: 2.5rem;
  opacity: 0;
  -webkit-animation-name: projectshow;
  -webkit-animation-duration: 4s;
  animation-name: projectshow;
  animation-duration: 4s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

/* CONTACT BRANCH */

.contactLine1 {
  border: gray solid 5px;
  margin-top: -75px;
  margin-left: 260px;
  position: absolute;
  width:130px;
}

.contactLine2 {
  border: gray solid 5px;
  margin-top: -75px;
  margin-left: 400px;
  position: absolute;
  height:170px;

}

.contactLine2ATurn {
  border: gray solid 5px;
  margin-top: 65px;
  margin-left: 410px;
  position: absolute;
  width:100px;
}

.contactL2ATSocket{
  border: solid 5px gray;
  height: 20px;
  width: 20px;
  margin-top: 55px;
  margin-left: 520px;
  position: absolute;
  background-color: white;
  -webkit-animation-name: colorchange2C;
  -webkit-animation-duration: 30s;
  animation-name: colorchange2C;
  animation-duration: 30s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

.contactLine2BTurn {
  border: gray solid 5px;
  margin-top: 105px;
  margin-left: 300px;
  position: absolute;
  width:100px;
}

.contactL2BTSocket{
  border: solid 5px gray;
  height: 20px;
  width: 20px;
  margin-top: 105px;
  margin-left: 300px;
  position: absolute;
  background-color: white;
  -webkit-animation-name: colorchange2D;
  -webkit-animation-duration: 30s;
  animation-name: colorchange2D;
  animation-duration: 30s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

.contactLine2CTurn {
  border: gray solid 5px;
  margin-top: 75px;
  margin-left: 460px;
  position: absolute;
  height:80px;
}

.contactSocketMain{
  border: solid 5px gray;
  height: 20px;
  width: 20px;
  margin-top: 165px;
  margin-left: 450px;
  position: absolute;
}

.contactDatabit {
  z-index: 1;
  border: solid 10px #62DAFE;
  margin-top: -81px;
  margin-left: 260px;
  position: absolute;
  -webkit-animation-name: datastream4;
  -webkit-animation-duration: 4.5s;
  animation-name: datastream4;
  animation-duration: 4.5s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

.contact {
  position: absolute;
  margin-top: 185px;
  margin-left: 350px;
  font-size: 2.5rem;
  opacity: 0;
  -webkit-animation-name: contactshow;
  -webkit-animation-duration: 6s;
  animation-name: contactshow;
  animation-duration: 6s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

/* ABOUT BRANCH */

.aboutLine1 {
  border: gray solid 5px;
  margin-top: -75px;
  margin-left: -190px;
  position: absolute;
  width:170px;
}

.aboutLine1Turn {
  border: gray solid 5px;
  margin-top: -255px;
  margin-left: -100px;
  position: absolute;
  height:170px;

}

.aboutLine1ATurn {
  border: gray solid 5px;
  margin-top: -265px;
  margin-left: -200px;
  position: absolute;
  width:100px;

}

.aboutSocketMain {
  border: solid 5px gray;
  height: 20px;
  width: 20px;
  margin-top: -275px;
  margin-left: -230px;
  position: absolute;
}

.aboutL1ASocket{
  border: solid 5px gray;
  height: 20px;
  width: 20px;
  margin-top: -85px;
  margin-left: -220px;
  position: absolute;
  background-color: white;
  -webkit-animation-name: colorchange2B;
  -webkit-animation-duration: 30s;
  animation-name: colorchange2B;
  animation-duration: 30s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

.aboutDatabit {
  border: solid 10px #62DAFE;
  margin-top: -80px;
  margin-left: -30px;
  position: absolute;
  -webkit-animation-name: datastream2;
  -webkit-animation-duration: 2s;
  animation-name: datastream2;
  animation-duration: 2s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

.about {
  position: absolute;
  margin-top: -400px;
  margin-left: -270px;
  font-size: 2.5rem;
  opacity: 0;
  -webkit-animation-name: aboutshow;
  -webkit-animation-duration: 3s;
  animation-name: aboutshow;
  animation-duration: 3s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

/* BLOG BRANCH */

.blogLine1 {
  border: gray solid 5px;
  margin-top: 45px;
  margin-left: 20px;
  position: absolute;
  height:56px;

}

.blogLine1Turn {
  border: gray solid 5px;
  margin-top: 101px;
  margin-left: -270px;
  position: absolute;
  width:280px;

}

.blogLine1ATurn {
  border: gray solid 5px;
  margin-top: 101px;
  margin-left: -280px;
  position: absolute;
  height:80px;

}

.blogLine1BTurn {
  border: gray solid 5px;
  margin-top: 181px;
  margin-left: -270px;
  position: absolute;
  width:130px;
}

.blogSocketMain{
  border: solid 5px gray;
  height: 20px;
  width: 20px;
  margin-top: 171px;
  margin-left: -130px;
  position: absolute;
}

.blogLine1Branch1 {
  border: gray solid 5px;
  margin-top: 31px;
  margin-left: -111px;
  position: absolute;
  height:60px;
}

.blogLine1Branch2 {
  border: gray solid 5px;
  margin-top: 51px;
  margin-left: -191px;
  position: absolute;
  height:40px;
}

.blogL1B1Socket{
  border: solid 5px gray;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  margin-left: -120px;
  position: absolute;
  background-color: white;
  -webkit-animation-name: colorchange;
  -webkit-animation-duration: 30s;
  animation-name: colorchange;
  animation-duration: 30s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

.blogL1B2Socket{
  border: solid 5px gray;
  height: 20px;
  width: 20px;
  margin-top: 30px;
  margin-left: -200px;
  position: absolute;
  background-color: white;
  -webkit-animation-name: colorchange2;
  -webkit-animation-duration: 30s;
  animation-name: colorchange2;
  animation-duration: 30s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

.blogDatabit {
  border: solid 10px #62DAFE;
  margin-top: 51px;
  margin-left: 15px;
  position: absolute;
  -webkit-animation-name: datastream3;
  -webkit-animation-duration: 6s;
  animation-name: datastream3;
  animation-duration: 6s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
  z-index: 1;
}

.blog {
  position: absolute;
  margin-top: 185px;
  margin-left: -270px;
  font-size: 2.5rem;
  opacity: 0;
  -webkit-animation-name: blogshow;
  -webkit-animation-duration: 8s;
  animation-name: blogshow;
  animation-duration: 8s;
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
}

/* ANIMATE THE DATABITS */

@-webkit-keyframes datastream {

  50% {
    margin-top: -130px;
    margin-left: 415px;
  }

  100% {
    margin-top: -295px;
    margin-left: 415px;
  }

}

@keyframes datastream {

  50% {
    margin-top: -130px;
    margin-left: 415px;
  }

  100% {
    margin-top: -295px;
    margin-left: 415px;
  }

}

@-webkit-keyframes projectshow {

  75% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}

@keyframes projectshow {

  75% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}

@-webkit-keyframes datastream2 {

  30% {
    margin-top: -80px;
    margin-left: -105px;
  }

  50% {
    margin-top: -270px;
    margin-left: -105px;
  }

  100% {
    margin-top: -270px;
    margin-left: -225px;
  }

}

@keyframes datastream2 {

  30% {
    margin-top: -80px;
    margin-left: -105px;
  }

  50% {
    margin-top: -270px;
    margin-left: -105px;
  }

  100% {
    margin-top: -270px;
    margin-left: -225px;
  }

}

@-webkit-keyframes aboutshow {

  66% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}

@keyframes aboutshow {

  66% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}

@-webkit-keyframes datastream3 {

  10% {
    margin-top: 96px;
    margin-left: 15px;
  }

  60% {
    margin-top: 96px;
    margin-left: -285px;
  }

  75% {
    margin-top: 176px;
    margin-left: -285px;
  }

  100% {
    margin-top: 176px;
    margin-left: -125px;
  }

}

@keyframes datastream3 {

  10% {
    margin-top: 96px;
    margin-left: 15px;
  }

  60% {
    margin-top: 96px;
    margin-left: -285px;
  }

  75% {
    margin-top: 176px;
    margin-left: -285px;
  }

  100% {
    margin-top: 176px;
    margin-left: -125px;
  }

}

@-webkit-keyframes blogshow {

  75% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}

@keyframes blogshow {

  75% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}

@-webkit-keyframes datastream4 {

  10% {
    margin-top: -81px;
    margin-left: 395px;
  }

  60% {
    margin-top: 61px;
    margin-left: 395px;
  }

  75% {
    margin-top: 61px;
    margin-left: 455px;
  }

  100% {
    margin-top: 170px;
    margin-left: 455px;
  }

}

@keyframes datastream4 {

  10% {
    margin-top: -81px;
    margin-left: 395px;
  }

  60% {
    margin-top: 61px;
    margin-left: 395px;
  }

  75% {
    margin-top: 61px;
    margin-left: 455px;
  }

  100% {
    margin-top: 170px;
    margin-left: 455px;
  }

}

@-webkit-keyframes contactshow {

  75% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}

@keyframes contactshow {

  75% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }

}

@-webkit-keyframes colorchange {

  23% {
    background-color: white;
  }

  28% {
    background-color: yellow;
  }

  33% {
    background-color: white;
  }

  38% {
    background-color: yellow;
  }

  43% {
    background-color: white;
  }

  48% {
    background-color: yellow;
  }

  53% {
    background-color: white;
  }

  58% {
    background-color: yellow;
  }

  63% {
    background-color: white;
  }

  68% {
    background-color: yellow;
  }

  73% {
    background-color: white;
  }

  78% {
    background-color: yellow;
  }

  83% {
    background-color: white;
  }

  88% {
    background-color: yellow;
  }

  93% {
    background-color: white;
  }

}

@keyframes colorchange {

  23% {
    background-color: white;
  }

  28% {
    background-color: yellow;
  }

  33% {
    background-color: white;
  }

  38% {
    background-color: yellow;
  }

  43% {
    background-color: white;
  }

  48% {
    background-color: yellow;
  }

  53% {
    background-color: white;
  }

  58% {
    background-color: yellow;
  }

  63% {
    background-color: white;
  }

  68% {
    background-color: yellow;
  }

  73% {
    background-color: white;
  }

  78% {
    background-color: yellow;
  }

  83% {
    background-color: white;
  }

  88% {
    background-color: yellow;
  }

  93% {
    background-color: white;
  }

}

@-webkit-keyframes colorchange2 {

  27% {
    background-color: white;
  }

  28% {
    background-color: blue;
  }

  29% {
    background-color: blue;
  }

  30% {
    background-color: white;
  }

  53% {
    background-color: white;
  }

  54% {
    background-color: blue;
  }

  55% {
    background-color: blue;
  }

  56% {
    background-color: white;
  }

  78% {
    background-color: white;
  }

  79% {
    background-color: blue;
  }

  80% {
    background-color: blue;
  }

  81% {
    background-color: white;
  }

}

@keyframes colorchange2 {

  27% {
    background-color: white;
  }

  28% {
    background-color: blue;
  }

  29% {
    background-color: blue;
  }

  30% {
    background-color: white;
  }

  53% {
    background-color: white;
  }

  54% {
    background-color: blue;
  }

  55% {
    background-color: blue;
  }

  56% {
    background-color: white;
  }

  78% {
    background-color: white;
  }

  79% {
    background-color: blue;
  }

  80% {
    background-color: blue;
  }

  81% {
    background-color: white;
  }

}

@-webkit-keyframes colorchange2B {

  37% {
    background-color: white;
  }

  38% {
    background-color: blue;
  }

  39% {
    background-color: blue;
  }

  40% {
    background-color: white;
  }

  63% {
    background-color: white;
  }

  64% {
    background-color: blue;
  }

  65% {
    background-color: blue;
  }

  66% {
    background-color: white;
  }

  88% {
    background-color: white;
  }

  89% {
    background-color: blue;
  }

  90% {
    background-color: blue;
  }

  91% {
    background-color: white;
  }

}

@keyframes colorchange2B {

  37% {
    background-color: white;
  }

  38% {
    background-color: blue;
  }

  39% {
    background-color: blue;
  }

  40% {
    background-color: white;
  }

  63% {
    background-color: white;
  }

  64% {
    background-color: blue;
  }

  65% {
    background-color: blue;
  }

  66% {
    background-color: white;
  }

  88% {
    background-color: white;
  }

  89% {
    background-color: blue;
  }

  90% {
    background-color: blue;
  }

  91% {
    background-color: white;
  }

}

@-webkit-keyframes colorchange2C {

  32% {
    background-color: white;
  }

  33% {
    background-color: blue;
  }

  34% {
    background-color: blue;
  }

  35% {
    background-color: white;
  }

  58% {
    background-color: white;
  }

  59% {
    background-color: blue;
  }

  60% {
    background-color: blue;
  }

  61% {
    background-color: white;
  }

  83% {
    background-color: white;
  }

  84% {
    background-color: blue;
  }

  85% {
    background-color: blue;
  }

  86% {
    background-color: white;
  }

}

@keyframes colorchange2C {

  32% {
    background-color: white;
  }

  33% {
    background-color: blue;
  }

  34% {
    background-color: blue;
  }

  35% {
    background-color: white;
  }

  58% {
    background-color: white;
  }

  59% {
    background-color: blue;
  }

  60% {
    background-color: blue;
  }

  61% {
    background-color: white;
  }

  83% {
    background-color: white;
  }

  84% {
    background-color: blue;
  }

  85% {
    background-color: blue;
  }

  86% {
    background-color: white;
  }

}

@-webkit-keyframes colorchange2D {

  30% {
    background-color: white;
  }

  31% {
    background-color: blue;
  }

  32% {
    background-color: blue;
  }

  33% {
    background-color: white;
  }

  55% {
    background-color: white;
  }

  56% {
    background-color: blue;
  }

  57% {
    background-color: blue;
  }

  58% {
    background-color: white;
  }

  80% {
    background-color: white;
  }

  81% {
    background-color: blue;
  }

  82% {
    background-color: blue;
  }

  83% {
    background-color: white;
  }

}

@keyframes colorchange2D {

  30% {
    background-color: white;
  }

  31% {
    background-color: blue;
  }

  32% {
    background-color: blue;
  }

  33% {
    background-color: white;
  }

  55% {
    background-color: white;
  }

  56% {
    background-color: blue;
  }

  57% {
    background-color: blue;
  }

  58% {
    background-color: white;
  }

  80% {
    background-color: white;
  }

  81% {
    background-color: blue;
  }

  82% {
    background-color: blue;
  }

  83% {
    background-color: white;
  }

}

@-webkit-keyframes colorchange2E {

  40% {
    background-color: white;
  }

  41% {
    background-color: blue;
  }

  42% {
    background-color: blue;
  }

  43% {
    background-color: white;
  }

  66% {
    background-color: white;
  }

  67% {
    background-color: blue;
  }

  68% {
    background-color: blue;
  }

  69% {
    background-color: white;
  }

  91% {
    background-color: white;
  }

  92% {
    background-color: blue;
  }

  93% {
    background-color: blue;
  }

  94% {
    background-color: white;
  }

}

@keyframes colorchange2E {

  40% {
    background-color: white;
  }

  41% {
    background-color: blue;
  }

  42% {
    background-color: blue;
  }

  43% {
    background-color: white;
  }

  66% {
    background-color: white;
  }

  67% {
    background-color: blue;
  }

  68% {
    background-color: blue;
  }

  69% {
    background-color: white;
  }

  91% {
    background-color: white;
  }

  92% {
    background-color: blue;
  }

  93% {
    background-color: blue;
  }

  94% {
    background-color: white;
  }

}
