body {
  background-color:#59626B;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  height:100%;
  width:100%;
}

#app{
  margin-top: 30vh;
  width:100%;
  text-align: center;
  margin-left: -1vw;
}

.motherBoard {
  display: inline-block
}

.chip {
  text-align: center;
  height:250px;
  width: 250px;
  border: solid 10px rgb(37, 37, 37);
  background-color: rgb(22, 22, 22);
  border-radius: 5%;
}

/* STATEMENT  */

.statement {
  color: white;
  font-size: 1.2rem;
  z-index: 1;
  position: relative;
  margin-top: 40px;
}

.name {
  color: #62DAFE;
  font-size: 1.6rem;
}

/* ANIMATE THE DATABITS */

@-webkit-keyframes colorchange {

  23% {
    background-color: white;
  }

  28% {
    background-color: yellow;
  }

  33% {
    background-color: white;
  }

  38% {
    background-color: yellow;
  }

  43% {
    background-color: white;
  }

  48% {
    background-color: yellow;
  }

  53% {
    background-color: white;
  }

  58% {
    background-color: yellow;
  }

  63% {
    background-color: white;
  }

  68% {
    background-color: yellow;
  }

  73% {
    background-color: white;
  }

  78% {
    background-color: yellow;
  }

  83% {
    background-color: white;
  }

  88% {
    background-color: yellow;
  }

  93% {
    background-color: white;
  }

}

@keyframes colorchange {

  23% {
    background-color: white;
  }

  28% {
    background-color: yellow;
  }

  33% {
    background-color: white;
  }

  38% {
    background-color: yellow;
  }

  43% {
    background-color: white;
  }

  48% {
    background-color: yellow;
  }

  53% {
    background-color: white;
  }

  58% {
    background-color: yellow;
  }

  63% {
    background-color: white;
  }

  68% {
    background-color: yellow;
  }

  73% {
    background-color: white;
  }

  78% {
    background-color: yellow;
  }

  83% {
    background-color: white;
  }

  88% {
    background-color: yellow;
  }

  93% {
    background-color: white;
  }

}

/* MEDIA QUERIES */

@media screen and (min-width: 1000px) and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {

  .chip {
    transform: scale(.9);
  }

}

@media screen and (min-width: 700px) and (max-width: 999px) and (-webkit-min-device-pixel-ratio: 1) {

  .chip {
    transform: scale(.7);
  }

}

@media screen and (min-width: 400px) and (max-width: 699px) and (-webkit-min-device-pixel-ratio: 1) {

  .chip {
    transform: scale(.4);
    margin-top: -20vh;
  }

}

@media screen and (min-width: 400px) and (max-width: 699px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {

  .chip {
    margin-top: -10vh;
  }

}

@media screen and (min-width: 358px) and (max-width: 399px) and (-webkit-min-device-pixel-ratio: 1) {

  .chip {
    transform: scale(.35);
  }

}

@media screen and (min-width: 358px) and (max-width: 399px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {

  .chip {
    margin-top: -10vh;
  }

}

@media screen and (min-width: 100px) and (max-width: 357px) and (-webkit-min-device-pixel-ratio: 1) {

  .chip {
    transform: scale(.3);
    margin-top: -15vh;
  }

}
