/* WIRESCONNECTORSTIPS */

.wire1 {
  position: absolute;
  height: 170px;
  width: 2px;
  background-color: rgb(131, 131, 131);
  margin-left: 40px;
  margin-top: -180px;
}

.wire2 {
  position: absolute;
  height: 170px;
  width: 2px;
  background-color: rgb(131, 131, 131);
  margin-left: 60px;
  margin-top: -180px;
}

.wire3 {
  position: absolute;
  height: 170px;
  width: 2px;
  background-color: rgb(131, 131, 131);
  margin-left: 80px;
  margin-top: -180px;
}

.wire4 {
  position: absolute;
  height: 190px;
  width: 2px;
  background-color: rgb(131, 131, 131);
  margin-left: 125px;
  margin-top: 240px;
}

.wire5 {
  position: absolute;
  height: 190px;
  width: 2px;
  background-color: rgb(131, 131, 131);
  margin-left: 165px;
  margin-top: 240px;
}

.connector1{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 240px;
  width:20px;
  margin-top: 210px;
}

.connector2{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 240px;
  margin-top: 170px;
  width:20px;
}

.connector3{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 180px;
  height:20px;
  margin-top: 240px;
}

.connector4{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 140px;
  margin-top: 240px;
  height:20px;
}

.connector5{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 100px;
  height:20px;
  margin-top: 240px;
}

.connector6{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 60px;
  margin-top: 240px;
  height:20px;
}

.connector7{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: -30px;
  width:20px;
  margin-top: 20px;
}

.connector8{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: -30px;
  margin-top: 80px;
  width:20px;
}

.connector9{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: -30px;
  margin-top: 210px;
  width:20px;
}

.connector10{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 120px;
  margin-top: -30px;
  height:20px;
}

.connector11{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 160px;
  margin-top: -30px;
  height:20px;
}

.connector12{
  border: solid 5px rgb(43, 43, 43);
  position: absolute;
  margin-left: 200px;
  margin-top: -30px;
  height:20px;
}


.tip1 {
  width:3px;
  height:4px;
  background-color: rgb(64, 67, 255);
  position: absolute;
  margin-left: 39px;
  margin-top: -182px;
}

.tip2 {
  width:4px;
  height:3px;
  background-color: rgb(255, 255, 107);
  position: absolute;
  margin-left: 59px;
  margin-top: -182px;
}

.tip3 {
  width:3px;
  height:4px;
  background-color: rgb(64, 67, 255);
  position: absolute;
  margin-left: 79px;
  margin-top: -182px;
}

.tip4 {
  width:3px;
  height:4px;
  background-color: rgb(64, 67, 255);
  position: absolute;
  margin-left: 124px;
  margin-top: 431px;
}

.tip5 {
  width:4px;
  height:3px;
  background-color: rgb(255, 255, 107);
  position: absolute;
  margin-left: 164px;
  margin-top: 431px;
}